<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAPI-代码生成</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="./example/demo.css" type="text/css" />
    <script src="https://unpkg.com/vue@3.5.12/dist/vue.global.js"></script>
    <script src="https://unpkg.com/element-plus@2.8.6/dist/index.full.js"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue@2.3.1/dist/index.iife.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-dark.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/languages/go.min.js"></script>
</head>

<body>
    <div class="main-page" id="app">
        <el-menu active-text-color="#ffd04b" @select="handleOpen" background-color="#545c64" default-active="1"
            mode="horizontal" text-color="#fff" class="top-menu">
            <el-menu-item index="1">
                <span>基础功能</span>
            </el-menu-item>
            <!-- <el-menu-item index="2">
                <el-icon>
                    <List />
                </el-icon>
                <span>TODO</span>
            </el-menu-item> -->
            <el-menu-item index="3">
                <el-icon>
                    <document />
                </el-icon>
                <span>代码地址</span>
            </el-menu-item>
        </el-menu>
        <el-row class="main-row">
            <el-col :span="11" class="config-form">
                <el-form :model="form" label-width="120px">
                    <el-form-item label="yapi token">
                        <el-input v-model="form.token" type="textarea" :rows="4" placeholder="控制台粘贴过来" />
                    </el-form-item>
                    <el-form-item label="yapi userId">
                        <el-input v-model="form.userId" placeholder="鉴权使用用户ID" />
                    </el-form-item>
                    <el-form-item label="yapi 地址">
                        <el-input v-model="form.yapiURL" placeholder="http://xxx.com/project/445/interface/api"/>
                    </el-form-item>
                    <el-form-item label="请求名">
                        <el-input v-model="form.axiosName" @blur="formUpdate" placeholder="默认是: fetch" />
                    </el-form-item>
                    <el-form-item label="axios 引入目录">
                        <el-input v-model="form.axiosFrom" @blur="formUpdate"
                            placeholder="默认是: import { fetch } from 'axios'" />
                    </el-form-item>
                    <el-form-item label="服务端类型提示">
                        <el-switch v-model="form.isNeedType" @change="formUpdate" />
                    </el-form-item>
                    <el-form-item label="axios参数提示">
                        <el-switch v-model="form.isNeedAxiosType" @change="formUpdate" />
                    </el-form-item>
                    <el-form-item label="文档类型">
                        <el-select
                        
                        style="width: 240px" v-model="form.version" placeholder="请选择导出文件风格" @change="formUpdate">
                            <el-option label="typescript" value="ts" ></el-option>
                            <el-option label="javascript" value="js" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="文档类型">
                        <el-select
                          style="width: 240px"
                        v-model="form.outputStyle" placeholder="请选择你要生成的文档类型" @change="formUpdate">
                            <el-option label="默认导出" value="defaultExport" ></el-option>
                            <el-option label="具名导出" value="nameExport" ></el-option>
                            <el-option label="匿名导出" value="anonymous" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="项目信息">
                        <el-table :data="form.projects" @expand-change="expandChange" :row-key="row => row.projectId"
                            :expand-row-keys="list.expandRow" style="width: 100%" v-loading="list.loading">
                            <el-table-column type="expand">
                                <template #default="scope">
                                    <el-checkbox class="menu-checkbox" v-for="menu in scope.row.menus" :key="menu.catId"
                                        :label="menu"
                                        :checked="!!scope.row.group.find(item => item.catId === menu.catId)"
                                        @change="checkStatus => menuChange(checkStatus, menu, scope.row)">{{
                                        menu.name
                                        }}</el-checkbox>
                                </template>
                            </el-table-column>
                            <el-table-column label="项目ID">
                                <template #default="scope">
                                    <el-input type="number" size="small" v-model="scope.row.projectId"
                                        @blur="initMenu" />
                                </template>
                            </el-table-column>
                            <el-table-column label="导出路径">
                                <template #default="scope">
                                    <el-input size="small" v-model="scope.row.outputDir" />
                                </template>
                            </el-table-column>
                            <el-table-column label="baseURL">
                                <template #default="scope">
                                    <el-input size="small" v-model="scope.row.prefix" />
                                </template>
                            </el-table-column>
                            <el-table-column label="全量加载">
                                <template #default="scope">
                                    <el-switch size="small" v-model="scope.row.isLoadFullApi"
                                        @change="formUpdate(); initMenu()" />
                                </template>
                            </el-table-column>
                            <el-table-column label="操作">
                                <template #default="scope">
                                    <el-button size="small" type="danger"
                                        @click="handleRemoveProject(scope.$index)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-button class="add-project" @click="addProject">添加项目</el-button>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="main">加载API文件</el-button>
                        <el-button type="success" @click="copy">复制配置文件</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col :span="1" class="arrow-wrap">
                <el-icon class="arrow-right" :size="32" v-for="num in 12">
                    <Right />
                </el-icon>
            </el-col>
            <el-col :span="12" class="code-wrap">
                <el-collapse v-model="activeNames" v-for="(item, index) in list.codes" class="code-collapse">
                    <el-collapse-item :name="index">
                        <template #title>
                            <div class="title-collapse">
                                <div>
                                    <el-icon class="header-icon" :size="20">
                                        <Folder />
                                    </el-icon>&nbsp;API输出路径：{{ item.savePath }}
                                </div>
                            </div>

                        </template>
                        <div class="edit-container">
                            <pre><code class="language-html">{{item.saveFileBuffer}}</code></pre>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </el-col>

            <el-drawer :with-header="false" destroy-on-close v-model="list.showCode" direction="rtl" size="70%">
                <Code id="codeWrap" :code="list.item.saveFileBuffer"></Code>
            </el-drawer>
        </el-row>
    </div>
    <script src="./dist/yapi-sdk.min.js"></script>
    <script src="./example/demo.js"></script>

    <script>
        const { createApp, ref, reactive, onMounted } = Vue;
        const YapiSDK = window.YapiSDK
        if (!YapiSDK) throw new Error('YapiSDK is not found')

        const registerGlobal = (config) => {
            window.global = { apiConfig: config }  // 浏览器注册全局变量
        }

        const copyConfig = (config) => {
            const input = document.createElement('input')
            document.body.appendChild(input)
            input.setAttribute(
                'value',
                config
            )
            input.select()
            if (document.execCommand('copy')) {
                document.execCommand('copy')
                ElMessage.success('复制成功')
            }
            document.body.removeChild(input)
        }

        const getHeader = () => {
            const config = window.global.apiConfig
            const token = config.token
            const userId = config.userId
            const HeaderConfig = {
                Cookie: `_yapi_token=${token}; _yapi_uid=${userId}`,
                Accept: 'application/json, text/plain, */*'
            }
            return HeaderConfig
        }

        const request = (url, method = 'post') => {
            return new Promise((resolve, rejects) => {
                const http = new XMLHttpRequest()

                http.open(method, url, true)


                http.onreadystatechange = function () {
                    if (http.readyState == 4 && http.status == 200) {
                        resolve(http.responseText)
                    }
                    console.log(http.status);
                    if (http.status === 0) rejects(http.responseText)
                }
                const headerBody = JSON.stringify(getHeader())
                http.send(headerBody)
            })
        }

        const handleApiRequestError = (error) => {
            if (error.includes('40011')) {
                console.log('\n\x1b[33m', 'token 已经过期， 请从yapi文档获取最新token')
            } else {
                console.log(error)
            }
            ElMessage.error(error)
        }

        const config = {
            userId: '',
            token: "",
            yapiURL: '',
            version: 'js',
            isNeedType: true,
            axiosFrom: 'import { fetch } from \'@/service/fetch/index\'',
            protocol: 'http:',
            axiosName: '',
            host: 'yapi.xxxx.com',
            isNeedAxiosType: true,
            outputStyle: 'defaultExport',
            projects: [
                {
                    data: DemoData,
                    projectId: '445',
                    outputDir: 'src/api',
                    isLoadFullApi: false,
                    prefix: '/aomi-market-admin-server',
                    group: [
                        {
                            catId: 13540,
                            name: '预售活动'
                        }
                    ]
                },
            ]
        }

        const baseUrl = `http://api.mbiquwu.co` // 目标域名有跨域，起了一个服务做代理

        const App = createApp({
            setup() {
                const form = reactive(config)
                const list = reactive({
                    codes: [],
                    item: {},
                    showCode: false,
                    loading: false,
                    expandRow: []
                })
                const activeNames = ref([0])

                const handleOpen = (index) => {
                    const pageIndex = Number(index)
                    if (pageIndex === 1) return
                    let codeUrl = 'https://github.com/huangyijan/yapi-codegen'
                    if (pageIndex === 2) codeUrl += '/blob/master/.todo'
                    window.open(codeUrl, 'blank')
                }



                const editChange = (item, index) => {
                    list.item = item
                    list.showCode = !list.showCode

                }

                /** 生成没有注释的API文件，注释有文档链接，可以直接跳转 */
                const generatorFileList = (project) => {
                    const nameChunk = new Map() // 用来处理文件命名的容器
                    const { group, isLoadFullApi } = project
                    const hasSaveNames = [] // 处理已经命名的容器
                    console.log(window);

                    project.data.forEach((item) => {
                        if (!item.list.length) return
                        const fileConfig = group?.find(menu => menu.catId == item.list[0].catid)
                        if (!isLoadFullApi && !fileConfig) return

                        const saveFileBuffer = YapiSDK.generatorFileCode(item, project)
                        if (!saveFileBuffer) return

                        const FileName = YapiSDK.getApiFileName(item, hasSaveNames)
                        const savePath = YapiSDK.getSavePath(FileName, project, fileConfig, nameChunk)
                        list.codes.push({ savePath, saveFileBuffer })
                    })
                    
                    hljs.highlightAll();
                    hljs.configure({
                        languages: 'javascript'
                    })
                }

                /** 根据配置网络请求加载api列表 */
                const main = async () => {
                    const config = form
                    registerGlobal(config)
                    const { projects } = config
                    const loading = ElLoading.service({
                        lock: true,
                        text: 'Loading',
                        background: 'rgba(0, 0, 0, 0.7)',
                    })
                    projects.forEach(project => {
                        const { projectId } = project
                        const projectConfigUrl = `${baseUrl}/api/project/get?id=${projectId}`

                        request(projectConfigUrl)
                            .then(projectConfigStr => {
                                const projectConfig = JSON.parse(projectConfigStr)
                                project.projectBaseConfig = projectConfig.data
                                project.requestUrl = `${baseUrl}/api/plugin/export?type=json&pid=${projectId}&status=all&isWiki=false` // jsonUrl
                                return request(project.requestUrl)
                            })
                            .then(fileString => {
                                const commonJson = JSON.parse(fileString)
                                project.data = commonJson
                                loading.close()
                                generatorFileList(project)
                            })
                            .catch(error => {
                                loading.close()
                                ElMessage.error(error.toString())
                                handleApiRequestError(String(error))
                            })

                    })
                }


                /** 删除项目 */
                const handleRemoveProject = (index) => {
                    form.projects.splice(index, 1)
                }

                /** 展开行处理 */
                const expandChange = (row) => {
                    const isExpand = list.expandRow.findIndex(projectId => projectId === row.projectId)
                    if (isExpand > -1) {
                        return list.expandRow.splice(isExpand, 1)
                    }
                    row.isLoadFullApi = false
                    list.expandRow.push(row.projectId)
                    initMenu()
                }

                /** 拷贝配置 */
                const copy = () => {
                    const config = JSON.parse(JSON.stringify(form))
                    config.projects.forEach(item => {
                        delete item.data
                        delete item.menus
                        delete item.token
                        delete item.userId
                    })
                    copyConfig(JSON.stringify(config))
                }

                /** 二级菜单变化 */
                const menuChange = (value, menu, project) => {
                    if (value) {
                        project.group.push(menu)
                    } else {
                        const index = project.group.findIndex(item => item.catId === menu.catId)
                        if (index > -1) project.group.splice(index, 1)
                    }
                    list.codes = []
                    generatorFileList(project)
                }

                /** 添加项目 */
                const addProject = () => {
                    form.projects.push({
                        projectId: '',
                        outputDir: '',
                        isLoadFullApi: true,
                        prefix: '',
                        group: []
                    })
                }

                /** 更新表单 */
                const formUpdate = () => {
                    list.codes = []
                    form.projects.forEach(project => {
                        generatorFileList(project)
                    })
                }

                /** 加载form表单 */
                const initMenu = () => {
                    form.projects.forEach(project => {
                        if (project.isLoadFullApi) return
                        list.expandRow.push(project.projectId)
                        list.loading = true
                        const MenuUrl = `${baseUrl}/api/interface/list_menu?project_id=${project.projectId}`
                        request(MenuUrl).then(menuStr => {
                            const { data } = JSON.parse(menuStr)
                            if (!data) return ElMessage.error('登录已经过期，请重新填写token和userId')
                            project.menus = data.map(item => {
                                return { catId: item._id, name: item.name }
                            })
                            list.loading = false

                        })
                            .finally(() => {
                                list.loading = false
                            })
                            .catch(err => {
                                ElMessage.error(err.toString())
                            })
                    })
                }


                onMounted(() => {
                    registerGlobal(form)

                    // initMenu()
                    generatorFileList(form.projects[0])
                })




                return {
                    form,
                    list,
                    activeNames,
                    handleOpen,
                    expandChange,
                    copy,
                    addProject,
                    formUpdate,
                    handleRemoveProject,
                    main,
                    initMenu
                };
            }
        })
        App.use(ElementPlus);
        for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
            App.component(key, component)
        }
        App.mount("#app");
    </script>
</body>

</html>